h2 {
    margin-bottom: 1.5rem;
}

.spesen-form {
    max-width: 600px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
}

.text-danger {
    font-size: 0.875rem;
}

.calculated {
    color: blue;
}

.btn-primary {
    margin-top: 1rem;
}

.material-icons {
    vertical-align: middle;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}

.material-icons:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}