@model SpesenApp.Models.Person

@{
    ViewData["Title"] = "Person erfassen";
}

<h2>Person erfassen</h2>

<form asp-action="Create" method="post" class="form">
    <div class="form-group">
        <label asp-for="Vorname"></label>
        <input asp-for="Vorname" class="form-control" />
        <span asp-validation-for="Vorname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nachname"></label>
        <input asp-for="Nachname" class="form-control" />
        <span asp-validation-for="Nachname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="button-container">
        <a asp-controller="Personen" asp-action="Index" class="btn btn-secondary">
            Abbrechen
        </a>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link rel="stylesheet" href="~/Views/Personen/Create.cshtml.css" />
}
